.class{
    margin:0 200px;
    margin-top: 150px;
    background-color:red;
    border-radius: 13px;
    color:white;
    padding: 20px;
    font-size: 29px;

}


.button {
    position: absolute;
    background-color:#f9004d ;
    color:black;
    text-decoration:none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius:  30px;
    transition: .4s;
    right: 45%;
    margin: 40px 0;
}

.button:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor:pointer;
}